.holiday {
    color: red;
    background-color: lavenderblush;
}
.sat-calendar-gaia {
    color: blue;
    background-color: aliceblue;
}

.sun-calendar-gaia {
    color: red;
    background-color: lavenderblush;
}

.exception {
    background-color: white;
}

.exception a {font-size: x-small;}

.calendar-othermonth-gaia {
    background-color: #f7f9fa;
}
.calendar-weekday-sat-gaia span {
    color: blue;
}

.calendar-weekday-sun-gaia span {
    color: red;
}
.calendar-cell-header-add-gaia{
    opacity: 1;
    cursor: pointer;
    padding: 11px;
    float: right;
    background: url(https://static-y.kintone.com/k/kintone_21.7.5_5009338/image/gaia/icon/app/plus16.png) no-repeat center center;
}
